Repository SofiiaShevtsova/binary-mini-project, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, client, server, ENV

.github/labeler.yml:

root: '*'

workflows: '.github/**/*'

shared: 'shared/**/*'

client:
  - any:
      - 'client/**/*'
      - '!client/.env.example'

server:
  - any:
      - 'server/**/*'
      - '!server/.env.example'

ENV:
  - 'client/.env.example'
  - 'server/.env.example'

thjs-26: + add dislike logic
  client/src/libs/components/post/post.jsx
  client/src/packages/post/post-api.js
  client/src/pages/thread/components/expanded-post/expanded-post.jsx
  client/src/pages/thread/thread.jsx
  client/src/slices/thread/actions.js
  client/src/slices/thread/thread.js
  client/src/slices/thread/thread.slice.js
Labels: client

thjs-28: + add count reaction
  client/src/slices/thread/actions.js
  server/src/packages/post/post.service.js
Labels: client, server

thjs-28: + notification for dislike
  client/src/packages/notification/libs/enums/notification-message.enum.js
  client/src/packages/store/middlewares/notification-socket/notification-socket.middleware.js
  shared/src/libs/packages/socket/libs/enums/notification-socket-event.enum.js
Labels: shared, client

thjs-28: + add socket for reaction
  client/src/packages/store/middlewares/notification-socket/notification-socket.middleware.js
  client/src/slices/thread/actions.js
  client/src/slices/thread/thread.js
  client/src/slices/thread/thread.slice.js
  server/src/packages/post/post.controller.js
  server/src/packages/post/post.service.js
  shared/src/libs/packages/socket/libs/enums/notification-socket-event.enum.js
Labels: shared, client, server

thjs-28: * fix reactPostSocket name
  client/src/packages/store/middlewares/notification-socket/notification-socket.middleware.js
  client/src/slices/thread/actions.js
  client/src/slices/thread/thread.js
  client/src/slices/thread/thread.slice.js
Labels: client

thjs-1: - update repo
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
Labels: server

thjs-25: + show liked posts by own
  client/src/libs/enums/thread/post-filter-action.enum.js
  client/src/libs/enums/thread/thread-toolbar-key.enum.js
  client/src/pages/thread/libs/common/constants.js
  client/src/pages/thread/libs/hooks/use-posts-filter/use-posts-filter.js
  client/src/pages/thread/thread.jsx
  server/src/packages/post/post.repository.js
Labels: client, server

thjs-25: * do all but test fail
  client/src/libs/enums/thread/post-filter-action.enum.js
  client/src/libs/enums/thread/thread-toolbar-key.enum.js
  server/src/packages/post/post.repository.js
Labels: client, server

thjs-25: * fix test
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
Labels: server

thjs-13: + add button for delete post and action for it
  client/src/libs/components/icon/common.js
  client/src/libs/components/post/post.jsx
  client/src/libs/enums/components/icon-name.enum.js
  client/src/packages/post/post-api.js
  client/src/pages/thread/thread.jsx
  client/src/slices/thread/actions.js
  client/src/slices/thread/common.js
  client/src/slices/thread/thread.js
  client/src/slices/thread/thread.slice.js
Labels: client

thjs-13: * fix style for delete button
  client/src/libs/components/post/post.jsx
Labels: client

thjs-13: * fix style for delete button
  client/src/libs/components/post/styles.module.scss
Labels: client

thjs-13: + column in post model and soft delete in repository
  server/src/libs/packages/database/abstract.repository.js
  server/src/packages/post/post.controller.js
  server/src/packages/post/post.model.js
  server/src/packages/post/post.repository.js
  server/src/packages/post/post.service.js
Labels: server

thjs-13: + forbiden error for delete
  server/src/packages/post/post.controller.js
  server/src/packages/post/post.service.js
Labels: server

thjs-13: * for delete post all
  client/src/libs/prop-types/post.js
  server/src/libs/packages/database/abstract.repository.js
  server/src/packages/post/post.controller.js
  server/src/packages/post/post.model.js
  server/src/packages/post/post.repository.js
  server/tests/api/3-delete-post/post.api.spec.js
Labels: client, server

thjs-13: * change soft delete in repository
  server/src/libs/packages/database/abstract.repository.js
  server/src/packages/post/post.service.js
Labels: server

thjs-12: + button for edit
  client/src/libs/components/icon/common.js
  client/src/libs/components/post/post.jsx
  client/src/libs/components/post/styles.module.scss
  client/src/libs/enums/components/icon-name.enum.js
Labels: client

thjs-12: + action for update post use put
  client/src/libs/components/post/post.jsx
  client/src/packages/post/post-api.js
  client/src/pages/thread/components/components.js
  client/src/pages/thread/components/update-post/styles.module.scss
  client/src/pages/thread/components/update-post/update-post.jsx
  client/src/pages/thread/thread.jsx
  client/src/slices/thread/actions.js
  client/src/slices/thread/common.js
  client/src/slices/thread/thread.js
  client/src/slices/thread/thread.slice.js
Labels: client

thjs-12: + rout and post service logic
  client/src/pages/thread/components/update-post/update-post.jsx
  server/src/packages/post/post.controller.js
  server/src/packages/post/post.service.js
Labels: client, server

thjs-12: * update code and fix naming
  client/src/libs/components/post/post.jsx
  client/src/pages/thread/components/expanded-post/expanded-post.jsx
  client/src/pages/thread/components/update-post/update-post.jsx
  client/src/pages/thread/thread.jsx
  client/src/slices/thread/actions.js
  server/src/packages/post/post.controller.js
Labels: client, server

thjs-10: + actions and user services
  client/src/packages/store/store.js
  client/src/packages/user/enums/enums.js
  client/src/packages/user/user-api.js
  client/src/packages/user/user.js
  client/src/pages/profile/profile.jsx
  client/src/pages/profile/styles.module.scss
  client/src/slices/profile/actions.js
  client/src/slices/profile/common.js
  client/src/slices/profile/profile.js
  client/src/slices/profile/profile.slice.js
  shared/src/packages/user/libs/enums/users-api-path.enum.js
Labels: shared, client

thjs-10: + cropper and server route
  client/package.json
  client/src/packages/user/user-api.js
  client/src/pages/profile/components/cropped-avatar/cropped-avatar.jsx
  client/src/pages/profile/components/cropped-avatar/libs/cropped-image.js
  client/src/pages/profile/components/cropped-avatar/styles.module.scss
  client/src/pages/profile/profile.jsx
  client/src/pages/thread/thread.jsx
  client/src/slices/profile/actions.js
  client/src/slices/profile/profile.slice.js
  package-lock.json
  server/src/libs/packages/server-application/server-application.js
  server/src/packages/user/libs/validation-schemas/validation-schemas.js
  server/src/packages/user/user.controller.js
  server/src/packages/user/user.js
  server/src/packages/user/user.service.js
  shared/src/packages/auth/auth.js
  shared/src/packages/auth/libs/validation-schemas/update.validation-schemas.js
  shared/src/packages/auth/libs/validation-schemas/validation-schemas.js
  shared/src/packages/user/libs/enums/user-payload-key.enum.js
Labels: root, shared, client, server

thjs-10: * fix style
  client/src/pages/profile/components/cropped-avatar/cropped-avatar.jsx
  client/src/pages/profile/components/cropped-avatar/styles.module.scss
  client/src/pages/thread/components/update-post/update-post.jsx
Labels: client

thjs-10: * fix validation schemas
  shared/src/packages/auth/libs/validation-schemas/update.validation-schemas.js
Labels: shared

thjs-10: + get user route and test of uniqueness username
  server/src/packages/user/user.controller.js
  server/src/packages/user/user.service.js
  server/tests/api/11-update-profile/user.api.spec.js
Labels: server

thjs-10: * fix test
  server/tests/api/11-update-profile/user.api.spec.js
Labels: server

thjs-07: + style for tooltip and it in post
  client/src/libs/components/post/post.jsx
  client/src/libs/components/tooltip-for-reaction/styles.module.scss
  client/src/libs/components/tooltip-for-reaction/tooltip-for-reaction.jsx
Labels: client

thjs-07: + change reaction model
  client/src/libs/components/post/post.jsx
  client/src/libs/components/tooltip-for-reaction/styles.module.scss
  client/src/libs/components/tooltip-for-reaction/tooltip-for-reaction.jsx
  client/src/libs/prop-types/post.js
  server/src/packages/post/post-reaction.model.js
  server/src/packages/post/post-reaction.repository.js
  server/src/packages/post/post.controller.js
  server/src/packages/post/post.repository.js
Labels: client, server

thjs-07: * fix test and add select
  client/src/libs/components/tooltip-for-reaction/styles.module.scss
  client/src/libs/components/tooltip-for-reaction/tooltip-for-reaction.jsx
  server/src/packages/post/post-reaction.model.js
  server/src/packages/post/post.repository.js
  server/tests/api/9-show-who-liked-post/post.api.spec.js
Labels: client, server

thjs-07: + modal for show all users
  client/src/libs/components/tooltip-for-reaction/libs/modal-fot-tooltip.jsx
  client/src/libs/components/tooltip-for-reaction/styles.module.scss
  client/src/libs/components/tooltip-for-reaction/tooltip-for-reaction.jsx
Labels: client

thjs-07: + notification in all actions
  client/src/slices/profile/actions.js
  client/src/slices/thread/actions.js
Labels: client

thjs-07: + notification for deleted post
  client/src/slices/thread/actions.js
Labels: client

thjs-07: * fix test
  server/tests/api/9-show-who-liked-post/post.api.spec.js
Labels: server

thjs-07: + pointer-event in scss
  client/src/libs/components/tooltip-for-reaction/styles.module.scss
Labels: client
